<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Acceuil</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins:wght@400;600&display=swap" rel="stylesheet">


</head>

<body>
    <!--Section 0: Header-->
    <header>
        <div>
            <img src="/assets/images/LogoMonBouquetPresdeChezMoi.jpg" alt="Logo du site">
            <a href="/panier" class="lien-panier">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>

        </div>
        <nav class="navbar">
            <ul>
                <li><a href="/">Acceuil</a></li>
                <li><a href="/catalogue">Catalogue</a></li>
                <li><a href="/FAQ">FAQ</a></li>
                <li><a href="/contact">contact</a></li>
            </ul>
            <form class="search-form" action="">
                <input type="text" placeholder="Barre de recherche" class="search-bar">
                <button type="submit">Rechercher</button>
            </form>
        </nav>
    </header>

    <main>%%MAIN_CONTENT%%</main>

    <!--Section 5: Footer-->
    <footer>
        <ul>
            <li><a href="home/">Acceuil</a></li>
            <li><a href="/catalogue">Catalogue</a></li>
            <li><a href="/FAQ">FAQ</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <ul>
            <li><a href="https://instagram.com">Instagram</a></li>
            <li><a href="facebook.com"></a>Facebook</li>
            <li><a href="linkedin.com"></a>LinkedIn</li>
            <li><a href="googlemaps.com"></a>Adresse Boutique</li>
        </ul>
        <!--Image google maps-->
    </footer>
</body>

</html>