<!DOCTYPE html>
<html lang="fr">

<head>
    <title>%%HEAD_TITLE%%</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
    <!--Section 0: Header-->
<header>
  <div class="header-container">
    <a href="/">
      <img src="/assets/images/LogoMonBouquetPresdeChezMoi.jpg" alt="Logo du site">
    </a>

    <nav class="main-nav">
      <ul class="nav-links">
        <li><a href="/">Accueil</a></li>
        <li><a href="/catalogue">Catalogue</a></li>
        <li><a href="/FAQ">FAQ</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>

    <div class="header-actions">
      <form class="search-form" action="">
        <input type="text" placeholder="Rechercher" class="search-bar">
      </form>
      <a href="/panier" class="cart-icon">
        <i class="fa-solid fa-cart-shopping"></i>
      </a>
    </div>
  </div>
</header>

<main>%%MAIN_CONTENT%%</main>

<script>
(function(){if(!window.chatbase||window.chatbase("getState")!=="initialized"){window.chatbase=(...arguments)=>{if(!window.chatbase.q){window.chatbase.q=[]}window.chatbase.q.push(arguments)};window.chatbase=new Proxy(window.chatbase,{get(target,prop){if(prop==="q"){return target.q}return(...args)=>target(prop,...args)}})}const onLoad=function(){const script=document.createElement("script");script.src="https://www.chatbase.co/embed.min.js";script.id="BuK3-j-JjpOneH1AQmxdy";script.domain="www.chatbase.co";document.body.appendChild(script)};if(document.readyState==="complete"){onLoad()}else{window.addEventListener("load",onLoad)}})();
</script>

<!--Section 5: footer-->
<footer>
  <div class="footer-columns">
    <ul>
      <li><a href="/">Accueil</a></li>
      <li><a href="/catalogue">Catalogue</a></li>
      <li><a href="/FAQ">FAQ</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
    <ul>
      <li><a href="https://instagram.com/monbouquetpresdechezmoi/">Instagram</a></li>
      <li><a href="https://facebook.com">Facebook</a></li>
      <li><a href="https://linkedin.com">LinkedIn</a></li>
      <li><a href="https://google.com/maps/place/Groenveld+66,+1930+Zaventem">Adresse Boutique</a></li>
    </ul>
  </div>
  <div class="footer-legal">
    <p>&copy; 2025 MonBouquetPresDeChezMoi – Tous droits réservés | <a href="/mentions-legales">Mentions légales</a></p>
  </div>
</footer>

<!-- Script pour le Dark Mode - OBLIGATOIRE POUR LE BOUTON ! -->
<script src="/assets/JS/dark-mode.js"></script>
</body>

</html>