/* Reset de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corps de page */
body {
  font-family: "Poppins", sans-serif;
  background-color: #fdfdfdd3;
  color: #333;
  line-height: 1.6;
}
img {
  width: 100%;
  height: auto;
}
h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  color: #222;
}
/* ===== Header ===== */
header {
  background-color: rgb(251, 222, 224);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

header > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

header img {
  height: auto;
  width: 200px;
}

header a {
  font-size: 18px;
  text-decoration: none;
  color: #502e51;
  font-weight: bold;
  margin: 10px 15px;
}

.lien-panier {
  font-size: 30px;
}

header a:hover {
  color: #68086b;
}
/* ===== Navbar ===== */
.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.navbar ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

.navbar li a {
  text-decoration: none;
  color: #333333;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background 0.2s;
}

.navbar li a:hover {
  color: #68086b;
}

/* Barre de recherche */
.search-bar {
  margin: 10px 0px;
  padding: 8px;
  width: 250px;
  border: 1px solid #7e7e7e;
  border-radius: 5px;
  text-align: center;
  border-radius: 20%;
}

.navbar button {
  padding: 10px 20px;
  background-color: #502e51;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.navbar button:hover {
  background-color: #8106aa;
  transform: scale(1.05);
  transition: transform 0.5s;
}

/* ===== Main ===== */
main {
  padding: 20px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* ===== Footer ===== */
footer {
  background-color: rgb(251, 222, 224);
  padding: 30px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  text-align: center;
}

footer ul {
  display: grid;
  gap: 25px;
  list-style: none;
}

footer a {
  font-size: 18px;
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  margin: 10px 15px;
}

footer a:hover {
  color: #68086b;
}

/*Section 0: Comment ca maarche*/
#comment-marche {
  display: block;
  text-align: center;
  padding: 20px;
  margin: 20px 0px;
  border-radius: 10px;
}

#comment-marche h2 {
  margin-bottom: 20px;
  background-color: rgb(251, 222, 224);
  border-radius: 10px;
}

#comment-marche p {
  margin: 50px 0px;
}

#comment-marche a {
  display: inline-block; 
  text-decoration: none;
  color: #502e51;
  font-weight: bold;
  background-color: rgb(251, 222, 224);
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  border: 1px solid #000;
  transition: transform 0.3s ease-in-out;
}

#comment-marche a:hover {
  color: #68086b;
  background-color: #fdfdfdd3;
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

/* Section 1: Bannière */
#banniere-promo {
  text-align: center;
  padding: 20px 0px;
  margin: 20px 0px;
  border-radius: 10px;
}

#banniere-promo h2 {
  margin-bottom: 20px;
  text-align: center;
}

.image-banniere-promo {
  display: block;
  align-items: center;
  width: 50%;
  height: auto;
  padding: 20px;
  margin: 0 auto;
  background-color: rgb(251, 222, 224);
  border-radius: 10px;
}

.image-banniere-promo p {
  margin-top: 10px;
  font-size: 18px;
}

/* Section 2: Catalogue */
.titre-catalogue-acceuil {
  text-align: center;
  margin: 20px 0px;
}

#catalogue-acceuil {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 40px;
  flex-wrap: wrap;
}

#catalogue-acceuil h3 {
  width: 500px;
  background-color: rgb(251, 222, 224);
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0px;
}

#catalogue-acceuil img {
  width: 100%;
  height: auto;
}

#catalogue-acceuil p {
  margin-top: 10px;
}

/* Section 3: Projets à venir */
#a-venir-acceuil {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin: 50px 0px;
}

#a-venir-acceuil img {
  width: 320px;
  height: auto;
  display: flex;
  margin: 20px;
  background-color: rgb(251, 222, 224);
  padding: 20px;
  border-radius: 10px;
}

#a-venir-acceuil a {
  text-decoration: none;
  color: #502e51;
}

/* Section 4: Contact */
#contact-acceuil {
  display: block;
  text-align: center;
  padding: 20px;
  margin: 20px 0px;
  border-radius: 10px;
}

#contact-acceuil h2 {
  margin-bottom: 50px;
  background-color: rgb(251, 222, 224);
  border-radius: 10px;
}

#contact-acceuil a {
  display: inline-block;
  text-decoration: none;
  color: #502e51;
  font-weight: bold;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  border: 1px solid #000;
  transition: transform 0.3s ease-in-out;
}

#contact-acceuil a:hover {
  color: #68086b;
  background-color: rgb(251, 222, 224);
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

/* Section 5: composer un bouquet */
#composer-bouquet-acceuil {
  text-align: center;
  padding: 50px 20px;
}

#composer-bouquet-acceuil h2 {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 40px;
  background-color: rgb(251, 222, 224);}

.etape-composer {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.etape {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numero {
  background:#fdfdfdd3;
  border: 1px solid black;
  color: rgb(251, 222, 224);
  font-weight: bold;
  font-size: 1.5rem;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}



.etape h3 {
  margin: 10px 0 5px;
  font-size: 1.2rem;
}

.etape p {
  color: #4a4a4a;
  font-size: 0.95rem;
  border: 1px solid rgb(251, 222, 224);;
}

#composer-bouquet-acceuil a {
  display: inline-block;
  text-decoration: none;
  color: #502e51;
  font-weight: bold;
  padding: 10px;
  margin: 50px 10px; 
  border-radius: 10px;
  border: 1px solid #000;
  transition: transform 0.3s ease-in-out;
}

#composer-bouquet-acceuil a:hover {
  color: #68086b;
  background-color: rgb(251, 222, 224);
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

/* Section 6: Catalogue */
section.catalogue-catalogue {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
}
form.search-form {
  display: flex;
  flex-direction: column;
}

