<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/admin.css">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <a href="/checkin/bye">Déconnexion</a><br>
            <a href="/admin/catalogue/add">Ajouter un produit</a><br>
            <a href="/admin/catalogue/edit">Modifier un produit</a>
            <a href="/admin/catalogue/delete">Supprimer un produit</a>
        </nav>
    </header>


    <main>%%MAIN_CONTENT%%</main>

</body>

</html>